@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Colors";
}
<h1>@ViewData["Title"]</h1>
<p>The following list are some colors</p>
<ul>
    @{ foreach (var color in ViewBag.Colors)
        {
            <li>@color</li>
        }

    }
</ul>
